<div class="comment my-4" id="<%= dom_id comment %>">
  <div class="row">
    <div class="col-auto">

      <!-- Avatar -->
      <a class="avatar avatar-sm" href="profile-posts.html">
        <% avatar_image_url = "assets/img/avatars/profiles/avatar-#{comment.user.id}.jpg" %>
        <img src="<%= avatar_image_url %>" alt="..." class="avatar-img rounded-circle">
      </a>

    </div>
    <div class="col ms-n2">

      <!-- Body -->
      <div class="comment-body py-0">

        <div class="row">
          <div class="col">

            <!-- Title -->
            <h5 class="comment-title">
              <%= comment.user.name %>
            </h5>

          </div>
        </div> <!-- / .row -->

        <!-- Text -->
        <p class="comment-text">
          <%= comment.body %>
        </p>

        <div>
          <!-- Likes -->
          <%= button_to post_like_path(comment.post, comment_id: comment.id), method: :patch, class: "btn btn-primary"  do %>
            <%= "#{comment.likes.where(user: current_user).exists? ? "ðŸ‘Ž Unlike" : "ðŸ‘ Like"}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</div>
