<div class="card" id="<%= dom_id post %>">
  <div class="card-body">
    <!-- Header -->
    <div class="mb-3">
      <div class="row align-items-center">
        <div class="col-auto">
          <!-- Avatar -->
          <a href="#!" class="avatar">
            <% avatar_image_url = "assets/img/avatars/profiles/avatar-" + post.user.id.to_s + ".jpg" %>
            <img src="<%= avatar_image_url %>" alt="..." class="avatar-img rounded-circle">
          </a>
        </div>
        <div class="col ms-n2">

          <!-- Title -->
          <h4 class="mb-1">
            <%= post.user.name %>
          </h4>

        </div>
      </div> <!-- / .row -->
    </div>

    <!-- Text -->
    <p class="mb-3">
      <%= post.content %>
    </p>

    <!-- Buttons -->
    <div class="mb-3">
      <div class="row">
        <div class="col">
          <div class="border border-dark" style='width: 200px; height: 20px; border-style: dashed !important'>
            <!-- Like button -->
            <%= button_to "#{post.likes.where(user: current_user).exists? ? "Unlike" : "Like"}", post_like_path(post), method: :patch  %>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <% post.comments.each do |comment| %>
      <%= render partial: 'posts/comment', locals: { comment: comment } %>
    <% end %>
  </div>
</div>
